.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
.columnTitle {
  flex-grow: 1;
  width: 33.3%;
}
.divider {
  width: 80%;
  height: 1px;
  border-bottom: 1px solid #bbb;
  align-self: center;
}
